In [3]:
import pandas as pd

In [4]:
dataset=pd.read_csv("Preprocess_kidney_disease_data.csv")

In [5]:
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [6]:
dataset.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [7]:
dataset.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot',
       'hemo', 'rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [10]:
independent=dataset[['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot',
       'hemo', 'rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane']]
independent

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,notpresent,44,7800,5.2,yes,yes,no,good,no,no
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,notpresent,38,6000,5.2,no,no,no,good,no,no
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,notpresent,31,7500,5.2,no,yes,no,poor,no,yes
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,notpresent,35,7300,4.6,no,no,no,good,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395.0,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,...,notpresent,47,6700,4.9,no,no,no,good,no,no
396,396.0,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,...,notpresent,54,7800,6.2,no,no,no,good,no,no
397,397.0,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,...,notpresent,49,6600,5.4,no,no,no,good,no,no
398,398.0,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,...,notpresent,51,7200,5.9,no,no,no,good,no,no
399,399.0,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,...,notpresent,53,6800,6.1,no,no,no,good,no,no

In [11]:
dependent=dataset[['classification']]
dependent

    classification
0              ckd
1              ckd
2              ckd
3              ckd
4              ckd
..             ...
395         notckd
396         notckd
397         notckd
398         notckd
399         notckd

[400 rows x 1 columns]

In [14]:
dataset['classification'].value_counts()

classification
ckd       248
notckd    150
ckd\t       2
Name: count, dtype: int64

In [16]:
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl.metadata (355 bytes)
Collecting imbalanced-learn (from imblearn)
  Downloading imbalanced_learn-0.12.2-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from imbalanced-learn->imblearn) (1.24.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from imbalanced-learn->imblearn) (1.12.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from imbalanced-learn->imblearn) (1.3.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from imbalanced-learn->imblearn) (3.4.0)
Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Downloading imbalanced_learn-0.12.2-py3-none-any.whl (257 kB)
   ---------------------------------------- 0.0/258.0 kB ? eta -:--:--
   ---------------------------------------  256.0/258.0 kB 7.9 MB/s eta 0:00:01
   ---------------------------------------- 258.0/258.0 kB 4.0 MB/s eta 0:00:00
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.12.2 imblearn-0.0

In [21]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
X_ros, y_ros = ros.fit_resample(independent, dependent)

In [22]:
X_ros

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,notpresent,44,7800,5.2,yes,yes,no,good,no,no
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,notpresent,38,6000,5.2,no,no,no,good,no,no
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,notpresent,31,7500,5.2,no,yes,no,poor,no,yes
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,notpresent,35,7300,4.6,no,no,no,good,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,359.0,74.0,60.0,1.020,0.0,0.0,88.000000,50.0,0.6,147.000000,...,notpresent,53,6000,4.5,no,no,no,good,no,no
740,331.0,59.0,70.0,1.025,0.0,0.0,130.000000,39.0,0.7,147.000000,...,notpresent,46,6700,4.5,no,no,no,good,no,no
741,303.0,55.0,70.0,1.020,0.0,0.0,107.000000,26.0,1.1,137.528754,...,notpresent,50,6700,6.1,no,no,no,good,no,no
742,317.0,58.0,70.0,1.020,0.0,0.0,102.000000,48.0,1.2,139.000000,...,notpresent,40,8100,4.9,no,no,no,good,no,no
743,282.0,20.0,70.0,1.020,0.0,0.0,123.000000,44.0,1.0,135.000000,...,notpresent,44,5500,4.8,no,no,no,good,no,no

In [25]:
y_ros

    classification
0              ckd
1              ckd
2              ckd
3              ckd
4              ckd
..             ...
739         notckd
740         notckd
741         notckd
742         notckd
743         notckd

[744 rows x 1 columns]

In [27]:
y_ros.value_counts()

classification
ckd               248
ckd\t             248
notckd            248
Name: count, dtype: int64

In [30]:
X_ros.shape

(744, 25)

In [32]:
# Convert the undersampled arrays to a Pandas DataFrame
Oversampled_data = pd.DataFrame(data=X_ros, columns=independent.columns)

# Add the 'dependent' variable as a new column to the DataFrame
Oversampled_data['target'] = y_ros

# Replace 'undersampled_data.csv' with the desired filename
output_file = 'Oversampled_data.csv'

# Save the DataFrame to a new CSV file
Oversampled_data.to_csv(output_file, index=False)

print(f"Oversampled data has been saved to {output_file}.")

Oversampled data has been saved to Oversampled_data.csv.