In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings 
warnings.filterwarnings('ignore')

In [3]:
dataset=pd.read_csv("Oversampled_data.csv")
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,target
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,359.0,74.0,60.0,1.020,0.0,0.0,88.000000,50.0,0.6,147.000000,...,53,6000,4.5,no,no,no,good,no,no,notckd
740,331.0,59.0,70.0,1.025,0.0,0.0,130.000000,39.0,0.7,147.000000,...,46,6700,4.5,no,no,no,good,no,no,notckd
741,303.0,55.0,70.0,1.020,0.0,0.0,107.000000,26.0,1.1,137.528754,...,50,6700,6.1,no,no,no,good,no,no,notckd
742,317.0,58.0,70.0,1.020,0.0,0.0,102.000000,48.0,1.2,139.000000,...,40,8100,4.9,no,no,no,good,no,no,notckd
743,282.0,20.0,70.0,1.020,0.0,0.0,123.000000,44.0,1.0,135.000000,...,44,5500,4.8,no,no,no,good,no,no,notckd

In [4]:
dataset.isnull().sum()

id        0
age       0
bp        0
sg        0
al        0
su        0
bgr       0
bu        0
sc        0
sod       0
pot       0
hemo      0
rbc       0
pc        0
pcc       0
ba        0
pcv       0
wc        0
rc        0
htn       0
dm        0
cad       0
appet     0
pe        0
ane       0
target    0
dtype: int64

In [5]:
dataset['target'].unique()

array(['ckd', 'ckd\t', 'notckd'], dtype=object)

In [6]:
dataset['target']=dataset['target'].replace(to_replace = {'ckd': 'ckd' , 'ckd\t': 'ckd', 'notckd': 'notckd'})
dataset['target'].unique()

array(['ckd', 'notckd'], dtype=object)

In [7]:
dataset.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot',
       'hemo', 'rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'target'],
      dtype='object')

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
col = ['rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'target']
for i in col:
    dataset[i] = le.fit_transform(dataset[i]).astype(int)

In [9]:
dataset

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,target
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,32,72,34,1,4,1,0,0,0,0
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,26,56,34,0,3,1,0,0,0,0
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,19,70,34,0,4,1,1,0,1,0
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,20,62,19,1,3,1,1,1,1,0
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,23,68,27,0,3,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,359.0,74.0,60.0,1.020,0.0,0.0,88.000000,50.0,0.6,147.000000,...,41,56,26,0,3,1,0,0,0,1
740,331.0,59.0,70.0,1.025,0.0,0.0,130.000000,39.0,0.7,147.000000,...,34,62,26,0,3,1,0,0,0,1
741,303.0,55.0,70.0,1.020,0.0,0.0,107.000000,26.0,1.1,137.528754,...,38,62,43,0,3,1,0,0,0,1
742,317.0,58.0,70.0,1.020,0.0,0.0,102.000000,48.0,1.2,139.000000,...,28,75,30,0,3,1,0,0,0,1
743,282.0,20.0,70.0,1.020,0.0,0.0,123.000000,44.0,1.0,135.000000,...,32,51,29,0,3,1,0,0,0,1

In [11]:
independent=dataset[['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot',
       'hemo', 'rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane']]

dependent=dataset[['target']]
independent

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,0.0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,0,32,72,34,1,4,1,0,0,0
1,1.0,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,0,26,56,34,0,3,1,0,0,0
2,2.0,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,0,19,70,34,0,4,1,1,0,1
3,3.0,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,0,20,62,19,1,3,1,1,1,1
4,4.0,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,0,23,68,27,0,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,359.0,74.0,60.0,1.020,0.0,0.0,88.000000,50.0,0.6,147.000000,...,0,41,56,26,0,3,1,0,0,0
740,331.0,59.0,70.0,1.025,0.0,0.0,130.000000,39.0,0.7,147.000000,...,0,34,62,26,0,3,1,0,0,0
741,303.0,55.0,70.0,1.020,0.0,0.0,107.000000,26.0,1.1,137.528754,...,0,38,62,43,0,3,1,0,0,0
742,317.0,58.0,70.0,1.020,0.0,0.0,102.000000,48.0,1.2,139.000000,...,0,28,75,30,0,3,1,0,0,0
743,282.0,20.0,70.0,1.020,0.0,0.0,123.000000,44.0,1.0,135.000000,...,0,32,51,29,0,3,1,0,0,0

In [12]:
dependent

     target
0         0
1         0
2         0
3         0
4         0
..      ...
739       1
740       1
741       1
742       1
743       1

[744 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=42)

In [14]:
X_test.shape

(248, 25)

In [15]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators= 100, criterion="entropy")
classifier=classifier.fit(X_train,Y_train.values.ravel())

In [16]:
y_pred=classifier.predict(X_test)
y_pred

array([0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 1])

In [17]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test.values.ravel(),y_pred)
cm

array([[168,   0],
       [  0,  80]], dtype=int64)

In [18]:
from sklearn.metrics import classification_report
clf_report=classification_report(Y_test.values.ravel(),y_pred)
print(clf_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       168
           1       1.00      1.00      1.00        80

    accuracy                           1.00       248
   macro avg       1.00      1.00      1.00       248
weighted avg       1.00      1.00      1.00       248